<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link href="/css/home.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="nav">
            <div>
                <h3><i class='far fa-comments' style='font-size:25px;color: red;'></i>ChatApp</h3>
            </div>
            <ul class="list">
                <li class="item" id="item2"><a href="/login">SignOut</a></li>
            </ul>
        </nav>
    </header>
    <div class="sidenav" id="sidenav">
        <a id="newGroup" onclick="popup()" style="cursor: pointer;">Add New Group</a>
        <hr>
    </div>
    <div id="popup">
        <form id="form-container" onsubmit="createGroup(event)">
            <h2>Create Group</h2>
            <label>Group Name</label>
            <input type="text" required>
            <button>create</button>
        </form>
    </div>
    <div style="float: right;">
        <button style="background-color: red;display: none;" onclick="showParticipant()" id="removeButton">Remove
            Members from the Group</button>
        <form style="display: none;" id="partcipant" onsubmit="removeFromGroup(event)">
            <select style="width: 100%;" id="select1">
                <option id="removeMembers" hidden>select</option>
            </select>
            <button>Remove</button>
        </form>
    </div>
    <div style="position: absolute;left: 12.2%;">
        <button style="background-color: darkslateblue;display: none;" onclick="showParticipants()" id="addButton">Add
            Members to the Group</button>
        <form style="display: none;background-color: grey;" id="partcipants" onsubmit="addToGroup(event)">
            <select style="width: 100%;" id="select">
                <option id="addMembers" hidden>Select</option>
            </select>
            <input style="width: 10%;" type="checkbox" name="admin" checked="true">
            <label for="admin">Make admin</label><br>
            <button>Add</button>
        </form>
    </div>
    <main>
        <p id="div">
        </p>
    </main>
    <footer>
        <form onsubmit="postText(event)" id="form1">
            <input type="text" id="text" placeholder="Type your message here...">
            <input style="width: 7%;" id="uploadFileInput" name="myFile" type="file">
            <button type="submit">Send</button>
        </form>
    </footer>
</body>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
    integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="./js/home.js"></script>


</html>